/* GLOBAL STYLES -------------------- */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background: #e8e7e7;
  font-family: arial;
  text-transform: uppercase;
}

/* ELEMENT STYLES -------------------- */

header {
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #8063fa;
  border-bottom: solid 2px #d4caff;
}

header h1 {
  flex-grow: 1;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: normal;
  order: 2;
}

button:disabled,
button:disabled:hover {
  color: #d1d1d1;
  cursor:default;
  background: #f1f1f1;
}

/* COMPONENT STYLES -------------------- */

/* ===== SCOREBOARD ===== */

.scoreboard {
  background: #fff;
  max-width: 700px;
  margin: 70px auto;
  box-shadow: 0 2px 0 rgb(133, 104, 250);
  border-radius: 6px;
  overflow: hidden;
}

/* ===== PLAYER ===== */

.player {
  display: flex;
  font-size: 1.2em;
  border-bottom: solid 2px #eeeeee;
  letter-spacing: 2px;
}

.player:last-of-type {
  border-bottom-color: #d4caff;
}

.player-name:hover .remove-player {
  visibility: visible;
}

.player-name,
.counter-score {
  color: #2f2366;
}

.player-name {
  flex-grow: 1;
  line-height: 3.5em;
  padding-left: 10px;
}

.remove-player {
  font-size: 1.15em;
  border: none;
  outline: none;
  visibility: hidden;
  color: #ef5350;
  cursor: pointer;
  margin: 0 10px 0 0;
  padding: 0;
  background: none;
}

/* ===== STATS ===== */

.stats {
  width: 194px;
  background: #5b45b9;
  font-weight: normal;
  height: 100px;
  padding: 20px 30px;
  order: 1;
}

.stats caption {
  padding-top: 20px;
  background: #5b45b9;
}

.stats td:first-child {
  text-align: left;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 0.7em;
}

.stats td:last-child {
  text-align: right;
}

/* ===== COUNTER ===== */

.counter {
  display: flex;
  width: 194px;
}

.counter-action {
  border: none;
  font-size: 1.15em;
  font-weight: bold;
  color: #b0aeba;
  background-color: #dcdcdc;
  display: block;
  padding: 20px 20px;
  cursor: pointer;
  outline: none;
}

.counter-action:hover {
  color: #fff;
}

.increment:hover {
  background: #83d97c;
}

.decrement:hover {
  background: #ef5350;
}

.counter-score {
  flex-grow: 1;
  text-align: center;
  font-family: monospace;
  font-size: 2em;
  line-height: 2em;
}

/* ===== ADD PLAYER FORM ===== */

form {
  display: flex;
  background-color: #8063fa;
}

input[type='text'] {
  flex-grow: 1;
  border-width: 0 0 1px 0;
  margin: 15px 10px 15px 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: #5b45b9;
  border-style: none;
  text-shadow: none;
  text-transform: uppercase;
  color: #c7bcf8;
  letter-spacing: 2px;
  outline: none;
}

input[type='text']::-webkit-input-placeholder {
  color: #c7bcf8;
  letter-spacing: 2px;
}

input[type='text']:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

input[type='submit'] {
  display: block;
  font-size: 0.6em;
  margin: 15px 15px 15px 0;
  padding: 10px;
  background-color: #44338d;
  border-radius: 5px;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
}

button,
input[type='submit'] {
  outline: none;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.stopwatch button:hover,
input[type='submit']:hover {
  background: #fff;
  color: #44338d;
  cursor: pointer;
}

/* ===== STOPWATCH ===== */

.stopwatch {
  width: 194px;
  padding: 17px;
  background: #5b45b9;
  order: 3;
}

.stopwatch-time {
  display: block;
  font-family: monospace;
  font-size: 2.15em;
}

.stopwatch button {
  margin: 8px 5px;
  background-color: #44338d;
  border-radius: 5px;
  padding: 7px 8px;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
}

.stopwatch h2 {
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 2px;
  margin: 4px 0;
}

/* ===== CROWN ===== */

svg {
  width: 28px;
  height: 19px;
  margin-right: 5px;
  fill: #f0f0f0;
}

.is-high-score {
  fill: #ffc657;
  animation: grow 0.35s ease-in-out;
  transform-origin: 50% 50%;
}

@keyframes grow {
  50% {
    transform: scale(1.4) rotate(-3deg);
  }
}

/* MEDIA QUERIES -------------------- */

@media (max-width: 750px) {
  .scoreboard {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 0;
  }

  header {
    flex-direction: column;
    display: block;
    padding-bottom: 15px;
    height: 230px;
  }

  header h1 {
    order: 1;
    width: 100%;
    padding: 15px 0;
  }

  .stats {
    order: 2;
    float: left;
    width: 45%;
    height: 94px;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 0 0 5px 5px;
  }

  .stats caption {
    border-radius: 5px 5px 0 0;
    padding-top: 14px;
  }

  .stopwatch {
    order: 3;
    float: right;
    width: 45%;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
  }

  header caption,
  .stopwatch h2 {
    font-size: 0.8em;
  }

  .stopwatch h2 {
    margin-bottom: 12px;
  }

  .stopwatch button {
    font-size: .6em;
    margin: 12px 0 2px;
    letter-spacing: 1px;
    width: 45%;
  }

  .btn-start {
    float: left;
  }

  .btn-reset {
    float: right;
  }

  .player-name {
    width: 50%;
    font-size: .6em;
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  .counter {
    width: 160px;
    display: flex;
    align-items: center;
  }

  .counter-score {
    font-size: 1.25em;
  }

  .player-list {
    height: calc(100vh - 290px);
    overflow: scroll;
    background: #efeaff;
  }

  .player {
    background: #ffffff;
  }

  form {
    height: 60px;
  }

  form input:first-child {
    width: 70%;
    font-size: .5em;
  }

  form input:last-child {
    width: 30%;
    font-size: .5em;
  }

  .player-name button {
    display: none;
  }

  body {
    margin: 0;
  }

  .stopwatch-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}
